<%- include('partials/header') %>

<main class="container" id="account">
    <div id="profile">
        <div><img src="/uploads/<%= account.picture %>" alt=""></div>
        <p><%= account.fullname %></p>
        <a href="/account/edit/<%= account.u_id %>">Edit Profile</a>
    </div>
</main>

<%- include('partials/footer') %>