<%- include('partials/header') %>

    <form class="access" action="/login" method="post">
        <h1>Login</h1>

        <% if(error){ %>
            <p class="error"><%= message %></p>
        <% } %>

        <input type="email" name="email" id="" placeholder="Email Address" required value="<%= user.email %>">
        <input type="password" name="password" id="" placeholder="Password" required minlength="8" value="<%= user.password %>">
        <input type="submit" value="Log In">
        <p>Don't have an account? <a href="/signup">Create One</a></p>
    </form>

<%- include('partials/footer') %>
    
