<%- include('partials/header') %>

    <form class="access" action="/signup" method="post">
        <h1>Sign Up</h1>

        <% if(error){ %>
            <p class="error"><%= message %></p>
        <% } %>

        <input type="text" name="fullname" id="" placeholder="Full Name" required value="<%= user.fullname %>">
        <input type="email" name="email" id="" placeholder="Email Address" required value="<%= user.email %>">
        <input type="password" name="password" id="" placeholder="Password" required minlength="8" value="<%= user.password %>">
        <input type="password" name="confirmPassword" id="" placeholder="Confirm Password" required minlength="8" value="<%= user.confirmPassword %>">
        <input type="submit" value="Create Account">
        <p>Already have an account? <a href="/login">Log In</a></p>
    </form>

<%- include('partials/footer') %>
    
